/**
 * 
 */
package $package;

import org.junit.runner.RunWith;
import org.junit.runners.Suite;
import org.junit.runners.Suite.SuiteClasses;


#foreach( $testClazz in $testClasses ) 
import ${testClazz};
#end

/**
 * 
 *
 */
@RunWith(Suite.class)
@SuiteClasses({
#foreach( $testClazz in $testClasses ) 
 ${testClazz}.class#if( $foreach.hasNext ),#end
 
#end
})
public class OrderedTestSuite {}
